name: "TEST"

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**.md'
      - '**.yml'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
    steps:
      - name: "Validate Input"
        id: "inputs"
        run: |
          if [ "$GITHUB_ACTOR" != "YunaBraska" ]; then echo "Permission denied for user [$GITHUB_ACTOR]"; exit 1; fi
          echo "--------------------- ENVS ---------------------"
          env
      - name: "Checkout"
        uses: actions/checkout@main
        with:
          ref: ${{ github.ref_name || github.head_ref }}
      - name: "Setup Node"
        uses: actions/setup-node@main
        with:
          node-version: "16"
          cache: npm
      - name: "update dependencies"
        run: |
          npm outdated 
          npm update --save
          npm audit fix --force
      - name: "Run Tests"
        run: |
          npm ci && npm test
      - name: "Get Java Version"
        id: "read_java"
        uses: YunaBraska/java-version@fix_typescript
        with:
          work-dir: '.'
          deep: '-1'
          jv-fallback: 8
      - name: "Print Java Version"
        run: |
          echo "java_version [${{ steps.read_java.outputs.java_version }}]"
          if [ "${{ steps.read_java.outputs.java_version }}" != "17" ]; then echo "Unexpected Java Version [${{ steps.read_java.outputs.java_version }}] should have been 17"; exit 1; fi
